<div class="home-container">
  <h1>Home Page</h1>
  <span *ngIf="authService.isAuthenticated()"
  >
    {{userName}}
  </span>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Blanditiis perferendis quis veniam.
    Atque ea et fugiat recusandae, tempore voluptates.
    Dolor fuga harum, incidunt perspiciatis qui quod repellendus rerum voluptatem voluptates!</p>
  <hr>

  <button mat-raised-button
          color="primary"
          type="button"
          [routerLink]="['/add_questions']"
  >Додати питання
  </button>

  <button mat-raised-button
          color="primary"
          type="button"
          [routerLink]="['/questions/my']"
  >Мої питання
  </button>

  <button mat-raised-button
          color="primary"
          type="button"
          [routerLink]="['/questions']"
  >Пройти тест
  </button>

  <button mat-raised-button
          color="primary"
          type="button"
          (click)="openRegForm()"
          *ngIf="!authService.isAuthenticated()"
  > Зареєструватися </button>

  <button mat-raised-button
          color="primary"
          type="button"
          (click)="openLogForm()"
          *ngIf="!authService.isAuthenticated()"
  > Увійти </button>

  <button mat-raised-button
          color="primary"
          type="button"
          (click)="logout()"
          *ngIf="authService.isAuthenticated()"
  > Вийти </button>

</div>
