.home-container {
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  font-size: 100px;
  padding-left: 40px;
  padding-top: 40px;
}


h2 {
  color: silver;
  padding-left: 46px;
}


@media screen and (max-width: 576px) {
  h1 {
    text-align: center;
    color: white;
    font-size: 60px;
    padding-left: 0;
    padding-top: 40px;
  }


  h2 {
    color: silver;
    padding-left: 0;
    text-align: center;
  }
}

