<div class="header-container">

  <div>
    <img src="../../../../assets/images/lms_icon-1.png" alt="LMS LOGO"
         (click)="redirectToHome()"
         class="logo">
    <p *ngIf="authService.isAuthenticated()"
       class="userName"
    >
      <mat-icon aria-hidden="false" class="icon">mood</mat-icon>
      {{userName}}
    </p>
  </div>

  <mat-nav-list class="nav">
    <div class="d-flex flex-wrap justify-content-between ">
      <a
        [matMenuTriggerFor]="menu"
        *ngIf="authService.isAuthenticated()"
      >Меню
      </a>

      <a (click)="openRegForm()"
         *ngIf="!authService.isAuthenticated()"
         class="font-size280"
      >Зареєструватися
      </a>

      <a (click)="openLogForm()"
         *ngIf="!authService.isAuthenticated()"
         class="font-size280"
      >Увійти
      </a>

      <a (click)="logout()"
         *ngIf="authService.isAuthenticated()"
      >Вийти
      </a>
    </div>

    <mat-menu #menu="matMenu"
              xPosition="before">

      <button mat-menu-item
              [routerLink]="['/user', userId]"
              *ngIf="authService.isAuthenticated()"
      >Мій кабінет
      </button>

      <button mat-menu-item
              [routerLink]="['/questions/my']"
              *ngIf="!isStudent && authService.isAuthenticated()"
      >Мої питання
      </button>

      <button mat-menu-item
              [routerLink]="['/my-courses']"
              *ngIf="isStudent && authService.isAuthenticated()"
      >Мої курси
      </button>

      <button mat-menu-item
              [routerLink]="['/groups/my']"
              *ngIf="isStudent && authService.isAuthenticated()"
      >Мої групи
      </button>

      <button mat-menu-item
              [routerLink]="['/groups']"
              *ngIf="!isStudent && authService.isAuthenticated()"
      >Групи
      </button>

      <button mat-menu-item
              [routerLink]="['/lessons']"
              *ngIf="!isStudent && authService.isAuthenticated()"
      >Уроки
      </button>

      <button mat-menu-item
              [routerLink]="['/questions']"
              *ngIf="authService.isAuthenticated()"
      >Пройти тест
      </button>

      <button mat-menu-item
              [routerLink]="['/test/my']"
              *ngIf="isStudent || isTeacher && authService.isAuthenticated()"
      >Мої пройдені тести
      </button>
    </mat-menu>

  </mat-nav-list>
</div>
