<div>

  <h3>Додайте, будь ласка, своє питання</h3>

  <form>

    <label for="subject">Виберіть предмет</label><br>
    <select name="subject" id="subject">
      <option value="1"></option>
    </select>

    <label for="topic">Виберіть тему</label><br>
    <select name="topic" id="topic">
      <option value="1"></option>
    </select>

    <label for="level">Виберіть складність</label><br>
    <select name="level" id="level">
      <option value="easy">Легкий</option>
      <option value="mid">Середній</option>
      <option value="hard">Важкий</option>
    </select>

  </form>

</div>
