<div class="questions_container" *ngIf="questions">
  <mat-card class="text-center bg-dark text-white">
    <mat-card-title>
      Тестування по предмету:
    </mat-card-title>
    <p>Оцінювання: <br> За одну правильну відповідь , ви отримуєте <span class="font-weight-bold">10</span>
      балів, за одну помилку, в вас забирають <span class="font-weight-bold">5</span> балів</p>
    <p>Максимально можливий бал за цей тест, становить: <span class="text-danger">{{countCorrectAnswer}}</span></p>

    <mat-card-content>
      <form [formGroup]="questionForm"
            (ngSubmit)="formTest()"
            (keydown.enter)="$event.preventDefault()">
        <div class="">

          <tbody class="question_table  d-flex flex-wrap justify-content-center" formArrayName="question_list">
          <mat-card class="question col-3 m-2 " *ngFor="let item of questions; let i = index;"
                    [formGroupName]="i">
            <tr>
              <td class="q_text">
                <input formControlName="question" [value]="item._id" type="hidden">
                <span>
                {{i + 1}}.
             </span>
                <span>
              {{item.question}}
            </span>
              </td>
            </tr>
            <ng-container formArrayName="answer">
              <div *ngFor="let a of item.answers; let j = index"
                   [formGroupName]="j"
              class="my-2 ">
                <div class="d-flex">
                  <mat-checkbox  formControlName="checked" class="col-1"><span class="hide">{{a.value}}</span>
                  </mat-checkbox>
                  <span class="px-1 justify">{{a.value}}</span>
                </div>

              </div>
            </ng-container>
          </mat-card>
          </tbody>

        </div>
        <mat-card-actions class="btn">
          <button mat-raised-button color="primary" type="submit">Перевірити</button>
        </mat-card-actions>

      </form>
    </mat-card-content>
  </mat-card>
</div>

<app-loader *ngIf="!questions"></app-loader>

