.group_list {
  margin: 40px;
}

table {
  margin: 40px 20px;
}

table, th, td {
  border: 1px solid #00888E;
  border-collapse: collapse;
  color: #00888E;
  padding: 10px;
}

.absence_col {
  font-size: 20px;
  text-align: center;
}

.hoverRed :hover{
  opacity: 80%;
  color: red;
  cursor: pointer;
}

.hoverOrange :hover {
  opacity: 80%;
  color: orange;
  cursor: pointer;
}
