.userInfoBlock {
  display: flex;
  justify-content: center;
  background-color: rgba(46, 42, 218, 0.05);
}

.avatar {
  width: 250px;
  height: 270px;
}

.avatar img {
  max-width: 100%;
  height: auto;
  max-height: 250px;
}

button {
  height: 40px;
}

.cabinet {
  padding: 20px;
}


@media screen and (max-width: 576px) {
  .text-sm-center {
    text-align: center;
  }
}
