<div class="cabinet"  *ngIf="user">

  <h1 class="text-secondary">Мій Кабінет</h1>
  <hr>

  <mat-card class="userInfoBlock flex-wrap">

    <div class="avatarBlock mx-3">
      <div class="avatar border p-2 mb-2">
        <img [src]="user.photo_path">
      </div>
    </div>

    <div>
      <div class="info text-sm-center">
        <h3>{{user.name}} {{user.surname}}</h3>
        <p><i class="text-secondary mx-1">Населений пункт:</i>  {{user.population_point}}</p>
        <p><i class="text-secondary mx-1">Email: </i> {{user.email}}</p>
        <p><i class="text-secondary mx-1">Номер телефону:</i> {{user.phone_number}}</p>
      </div>

      <div>
        <button mat-raised-button
                type="button"
                (click)="openEditing()"
        class="mb-2 mx-2">
          <mat-icon aria-hidden="false">create</mat-icon>
          Редагувати
        </button>

        <button mat-raised-button
                type="button"
                class="mx-2"
                (click)="openChangePassword()">
          <mat-icon aria-hidden="false">vpn_key</mat-icon>
          Змінити пароль
        </button>
      </div>
    </div>


  </mat-card>

</div>

<app-main-loader *ngIf="!user"></app-main-loader>

