.info-helper {
  padding: 15px;
  margin: 15px 0;
}

.subject {
  padding: 20px;
  margin: 10px 0;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  .subject__item {
    display: flex;
    flex-direction: column;
    margin: 5px;

  }
}
.example-full-width {
  width: 100%;
}
