<div>

  <button mat-raised-button
          color="primary"
          type="button"
          (click)="openForm()"
  >Додати курс
  </button>

  <button mat-raised-button
          color="primary"
          type="button"
          (click)="allCourses()"
  >Всі курси
  </button>

  <div *ngIf="showAllCourses">

    <mat-list>
      <mat-list-item *ngFor="let course of coursesList; let i = index">

        <span matLine>{{i + 1 }}. {{course.label}}
          <button class="info_btn"
                  type="button"
                  (click)="showInfo()">
          ?
        </button>
        </span>

        <p matLine *ngIf="showFullInfo">Опис: {{course.description}}</p>

        <hr>
      </mat-list-item>
    </mat-list>

  </div>

</div>


