<mat-card class="dialog">
  <mat-card-title>Створення Групи</mat-card-title>
  <mat-dialog-content>
    <form [formGroup]="form">
      <div class="fields" fxLayout="column">

        <mat-form-field appearance="standard">
          <mat-label>Назва</mat-label>
          <input matInput type="text" required formControlName="label" minlength="4">
          <mat-error *ngIf="form.get('label').hasError('minlength')" align="end">
            Назва має бути не менше 4-х символів
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>Місто</mat-label>
          <mat-select formControlName="city">
            <mat-option *ngFor="let city of cities" [value]="city.title">
              {{city.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="standard" *ngIf="!courses||courses.length > 0">
          <mat-label>Курс</mat-label>
          <mat-select formControlName="course_id">
            <mat-option *ngFor="let course of courses" [value]="course._id">
              {{course.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker1" placeholder="Дата старту" formControlName="started_at">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker2" placeholder="Дата закінчення"
                 formControlName="finished_at">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

      </div>
    </form>
  </mat-dialog-content>

  <mat-card-actions align="end">
    <button mat-raised-button color="primary" (click)="dialog.closeAll()">Скасувати</button>
    <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="save()">
      Зберегти
    </button>
  </mat-card-actions>
</mat-card>
