.group_list {
  margin: 40px;
}

table {
  margin: 0 auto;
}

table, th, td {
  border: 1px solid #00888E;
  border-collapse: collapse;
  color: #00888E;
  padding: 10px;
}

.absence_col {
  font-size: 20px;
  text-align: center;
}
