.border-black {
  border: 3px solid black;
}

.border-blue {
  border: 1px solid cornflowerblue;
}

.cursor {
  cursor: pointer;
}

.cursor :hover {
  background: orange;
  border-radius: 10px;
}

.border-radius {
  border-radius: 10px;
}

.borderB {
  border: solid silver;
  border-width: 0 0 1px 0;
}

@media screen and (max-width: 576px) {
  .hidden {
    display: none;
  }
}
