<div class="questions_container">
  <mat-card class="card">
    <mat-card-title>
      Тестування по предмету: {{subject}}
    </mat-card-title>
    <mat-card-content>
      <div *ngFor="let q of questions; let i = index">
        <mat-card>
          <span class="question">{{i + 1}}. {{q.question}}</span>
          <div *ngFor="let a of q.answers">
            <mat-checkbox><span>{{a.value}}</span></mat-checkbox>
          </div>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>
