<div class="d-flex flex-wrap justify-content-around" *ngIf="userPassedTest">

  <div class="col-5 m-2 p-2 border bg-secondary" *ngFor="let test of userPassedTest">
    <div class="text-center mx-4 text-white">
      <p>{{test.lesson_id.label}}</p>
      <p>{{test.lesson_id.description}}</p>
    </div>

    <div class="mx-2 d-flex flex-wrap ">
      <div class="col-12 border p-2 m-2 text-center bg-white" *ngFor="let question of test.questions_id">
        <p><span class="text-secondary">Питання: </span>{{question.question}}</p>
        <p>{{question.description}}</p>
        <p><span class="text-secondary">Рівень:</span> {{question.level}}</p>
        <p><span class="text-secondary">Предмет:</span> {{question.subject}}</p>
      </div>
    </div>

    <div class="col-4 ml-3 bg-danger p-2 my-2">
      <p>Результат: <span class="text-white">{{test.result}}</span></p>
      <p class="my-2">Дата проходженя: <br> <span class="text-white">{{test.created_at |  date:'medium' }}</span></p>
    </div>
  </div>

</div>
