<mat-sidenav-container class="example-container">
  <mat-sidenav-content>
    <div *ngIf="lessonsList"
         class="lesson-layout">

      <form [formGroup]="filterLessonsForm"
            (ngSubmit)="showFiltered()"
            (keydown.enter)="$event.preventDefault()"
      class="d-flex flex-wrap justify-content-around mb-3">

        <mat-form-field>

          <input type="text"
                 placeholder="Назва уроку"
                 matInput
                 formControlName="label"
                 [matAutocomplete]="autoLesson"
                 #searchLesson
          >
          <mat-autocomplete autoActiveFirstOption
                            #autoLesson="matAutocomplete">
            <mat-option *ngFor="let lesson of lessonsForAutocomplete | filter: searchLesson.value" [value]="lesson">
              {{lesson}}
            </mat-option>
          </mat-autocomplete>

        </mat-form-field>

        <mat-form-field>
          <input type="text"
                 placeholder="Номер уроку"
                 matInput
                 formControlName="number"
                 [matAutocomplete]="autoNumber"
          >
          <mat-autocomplete autoActiveFirstOption
                            #autoNumber="matAutocomplete">
            <mat-option *ngFor="let lesson of lessonsNumberForAutocomplete" [value]="lesson">
              {{lesson}}
            </mat-option>
          </mat-autocomplete>

        </mat-form-field>

        <div>
          <mat-form-field>
            <input matInput placeholder="Теги"
                   formGroupName="tags"
                   (keyup.enter)="newTag($event)"
                   [matAutocomplete]="autoTag"
                   #searchTag
            >

            <mat-autocomplete autoActiveFirstOption
                              #autoTag="matAutocomplete">
              <mat-option
                *ngFor="let tag of tagsForAutocomplete | filter: searchTag.value"
                [value]="tag">
                {{tag}}
              </mat-option>

            </mat-autocomplete>
          </mat-form-field>

          <div class="blocks">
            <div *ngFor="let tag of tags"
                 class="block">
              {{tag}}
              <button class="mini_btn"
                      type="button"
                      (click)="delTag(tag)">
                &times;
              </button>
            </div>

          </div>
        </div>

        <div class="d-flex flex-wrap justify-content-center">
          <button type="submit"
                  color="primary"
                  class="m-2"
                  mat-raised-button
          >
            Шукати
          </button>

          <button mat-raised-button
                  color="primary"
                  type="button"
                  class="m-2"
                  *ngIf="isTeacher && !isMyLesson && !isFiltered"
                  (click)="myLessons()"
          >Мої уроки
          </button>

          <button mat-raised-button
                  color="primary"
                  type="button"
                  class="m-2"
                  *ngIf="isTeacher && isMyLesson || isFiltered"
                  (click)="getLessons()"
          >Всі уроки
          </button>

          <button *ngIf="isTeacher"
                  mat-raised-button
                  color="primary"
                  type="button"
                  class="m-2"
                  (click)="openForm()"
          >Додати урок
          </button>
        </div>

      </form>

      <mat-accordion>
        <mat-expansion-panel *ngFor="let lesson of lessonsList">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Урок {{lesson.number}}.
              {{lesson.label}}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="lesson-inner">

            <mat-card class="video">
              <video controls src="{{lesson.video_path}}">
                Your browser does not support the video tag.
              </video>
            </mat-card>

            <p class="ml-2 hidden">{{lesson.description}}</p>

          </div>

          <mat-action-row>
            <button mat-button
                    color="primary"
                    type="button"
                    *ngIf="isMyLesson"
                    (click)="editLesson(lesson._id)">
              Редагувати
            </button>

            <button mat-button
                    color="primary"
                    type="button"
                    *ngIf="isMyLesson"
                    (click)="deleteLesson(lesson._id)">
              Удалити
            </button>

            <button mat-button
                    color="primary"
                    type="button"
                    (click)="showLesson(lesson._id)">
              Почати
            </button>
          </mat-action-row>

        </mat-expansion-panel>
      </mat-accordion>

    </div>

    <app-main-loader *ngIf="!lessonsList"></app-main-loader>
  </mat-sidenav-content>

</mat-sidenav-container>



