.lesson-layout {
  margin: 20px auto;
}

.video {
  width: 200px;
  height: 150px;
  background-color: darksalmon;
  margin-right: 30px;
}

.lesson-inner {
  display: flex;
  justify-content: flex-start;
}

.nav-btn {
  margin: 20px;
}
