<div class="filter">

  <h2 class="pageTitle">
    Виберіть, за якими категоріями ви хочете скласти тест
  </h2>

  <form [formGroup]="filterQuestions"
        (ngSubmit)="startTest()"
        (keydown.enter)="$event.preventDefault()"
  >

    <mat-form-field class="example-full-width">
      <input type="text"
             placeholder="Предмет"
             matInput
             required
             formControlName="subject"
             [matAutocomplete]="autoSubject"
             #searchSubject
      >
      <mat-autocomplete #autoSubject="matAutocomplete">
        <mat-option *ngFor="let subject of subjects " [value]="subject.label">
          {{subject.label}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <br>

    <mat-form-field class="example-full-width">
      <input type="text"
             placeholder="Група"
             matInput
             formControlName="group"
             [matAutocomplete]="autoGroup"
             #searchGroup
      >
      <mat-autocomplete #autoGroup="matAutocomplete">
        <mat-option *ngFor="let group of groups " [value]="group.label">
          {{group.label}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <br>

    <mat-form-field class="example-full-width">
      <input type="text"
             placeholder="Рівень складності"
             matInput
             formControlName="level"
             [matAutocomplete]="autoLevel"
             #searchLevel
      >
      <mat-autocomplete #autoLevel="matAutocomplete">
        <mat-option *ngFor="let level of levels | filter: searchLevel.value" [value]="level">
          {{level}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Вкажіть теги для питання"
             formGroupName="tags"
             (keyup.enter)="searchTag($event)"
             [matAutocomplete]="autoTag"
             #searchTags
      >
      <mat-autocomplete #autoTag="matAutocomplete">
        <mat-option *ngFor="let tag of tagsForAutocomplete | filter: searchTags.value" [value]="tag">
          {{tag}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div class="blocks">
        <span *ngFor="let tag of tags"
              class="block">
          {{tag}}
        </span>
    </div>

    <button mat-raised-button color="primary" type="submit">Пройти тест</button>

  </form>

</div>
