.filter {
  margin: 30px;
}

.example-full-width {
  width: 100%;
}

.blocks {
  display: flex;
  flex-direction: row;
}

.block {
  margin: 5px;
  border: 1px solid black;
  padding: 3px;
  background: #673ab7;
  color: white;
}
