<mat-card class="dialog">
  <mat-card-title>Створення Міста</mat-card-title>
  <mat-dialog-content>
    <form [formGroup]="form">
      <div class="fields" fxLayout="column">

        <mat-form-field appearance="standard">
          <mat-label>Назва міста</mat-label>
          <input matInput type="text" required formControlName="title" minlength="2">
          <mat-error *ngIf="form.get('title').hasError('minlength')" align="end">
            Назва міста має бути не менше 2-х символів
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>Назва країни</mat-label>
          <input matInput type="text" required formControlName="country" minlength="2">
          <mat-error *ngIf="form.get('country').hasError('minlength')" align="end">
            Назва країни має бути не менше 2-х символів
          </mat-error>
        </mat-form-field>

      </div>
    </form>
  </mat-dialog-content>

  <mat-card-actions align="end">
    <button mat-raised-button color="primary" (click)="dialog.closeAll()">Скасувати</button>
    <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="saveCity()">
      Зберегти
    </button>
  </mat-card-actions>
</mat-card>
