button {
  margin: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}

.answers {
  display: flex;
  align-items: center;
}

.example-full-width {
  width: 100%;
}

.checkbox {
  margin: 10px;
}

