.lesson {
  margin: 40px 20px;
  display: flex;
  flex-wrap: wrap;
}

.lesson_video {
  height: 350px;
  background-color: #00888E;

  color: white;
  font-size: 100px;
  line-height: 350px;
  text-align: center;
}

.lesson_test {
  width: max-content;
  margin: 0 auto;
}

.hover :hover {
  color: red;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background: white;
  border-radius: 5px;
}

.disable {
  display: none;
}

.border-radius {
  border-radius: 10px;
}

@media screen and (max-width: 4800px) {
  .heightVideo {
    height: 300px;
  }
}

@media screen and (max-width: 1024px) {
  .height100 {
    height: 120vh;
  }

  .text-center-md {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .height100 {
    height: 100%;
  }

  .heightVideo {
    height: 200px;
  }

  .fn-size-md-1 {
    font-size: 25px;
  }

  .fn-size-md-2 {
    font-size: 15px;
  }
}

@media screen and (max-width: 280px) {
  .hidden {
    display: none;
  }
}
