<div *ngIf="groupForAuto.length && settingRoomForAuto && ips">
  <h2 mat-dialog-title class="mat_dialog_title">Створити кімнату</h2>
  <mat-dialog-content class="mat-typography">

    <mat-form-field class="example-full-width col-12">
      <mat-label>Назва кімнати</mat-label>
      <mat-select (selectionChange)="getFullSettingRoom($event)">
        <mat-option *ngFor="let room of settingRoomForAuto"
                    [value]="{id: room._id, label: room.label}">
          {{room.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="fullSettingRoom">
      <form [formGroup]="roomForm"
            (ngSubmit)="createRoom()"
            (keydown.enter)="$event.preventDefault()"
      >
        <div class="form">
          <mat-form-field class="example-full-width">
            <mat-label>Опис кімнати</mat-label>
            <textarea type="text" matInput formControlName="description"></textarea>
            <mat-error *ngIf="roomForm.get('description').hasError('required')">
              Додайте опис кімнати
            </mat-error>
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <mat-label>Кількість місць</mat-label>
            <input type="text" matInput formControlName="count_all_places">
            <mat-error *ngIf="roomForm.get('count_all_places').hasError('required')">
              Додайте кількість вільних місць
            </mat-error>
          </mat-form-field>
          <br>


          <app-date-picker (changedDate)="changedDate($event)"
                           [maxTime]="fullSettingRoom.close_at"
                           [minTime]="fullSettingRoom.start_at"
          ></app-date-picker>
          <br>

          <mat-form-field class="example-full-width ">
            <mat-label>Вкажіть місто</mat-label>
            <mat-select formControlName="city">
              <mat-option *ngFor="let city of citiesForAuto " [value]="city">
                {{city}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="roomForm.get('city').hasError('required')">
              Додайте місто
            </mat-error>
          </mat-form-field>

          <br>
          <app-google-map *ngIf="!roomForm.get('city').hasError('required')"
                          (coordinates)="getCoordinates($event)"
                          [city]="roomForm.get('city').value"
          >
          </app-google-map>
          <br>

          <mat-form-field class="example-full-width ">
            <mat-label>Вкажіть ip адрес офісу</mat-label>
            <mat-select formControlName="ip">
              <mat-option *ngFor="let ip of ips " [value]="ip.ip">
                {{ip.title}} - {{ip.address}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="roomForm.get('ip').hasError('required')">
              Додайте ip
            </mat-error>
          </mat-form-field>

          <br>

          <mat-form-field class="example-full-width">
            <input matInput
                   placeholder="Вкажіть групу"
                   formGroupName="groups"
                   (keyup.enter)="newGroups($event)"
                   [matAutocomplete]="autoGroup"
                   #searchGroup
            >

            <mat-autocomplete #autoGroup="matAutocomplete">
              <mat-option *ngFor="let group of groupForAuto " [value]="group.label">
                {{group.label}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div class="blocks">
        <span *ngFor="let gr of group"
              class="block">
          {{gr}}
          <button class="mini_btn"
                  type="button"
                  (click)="delGroup(gr)">
                  &times;
                </button>
        </span>
          </div>
        </div>

        <button *ngIf="!spinnerStatus"
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="!addressStatus|| roomForm.invalid || !confirmStatus"
        >Створити
        </button>
      </form>
    </div>
  </mat-dialog-content>
</div>


<app-main-loader *ngIf="!groupForAuto.length || !settingRoomForAuto || !ips"></app-main-loader>
