.icon {
  margin-right: 10px;
}

mat-form-field {
  width: 90%;
}

.example-full-width {
  width: 100%;
  padding-bottom: 10px;
}

.form-field {
  width: inherit;
}

.mat-typography {
  font-size: 16px;
  width: 700px;
}

form {
  padding: 10px;
}

.mini_btn {
  background: rebeccapurple;
  border-radius: 50%;
  color: white;
}
