<div>
  <mat-form-field class="example-full-width col-8">
    <mat-label>Коментар</mat-label>
    <textarea
      type="text" matInput
      [formControl]="textArea"
      required>
      </textarea>
  </mat-form-field>

  <button mat-stroked-button
          color="primary"
          type="button"
          class="mx-2"
          (click)="cancel()"
  >
    <mat-icon aria-hidden="false">cancel</mat-icon>
  </button>

  <button mat-stroked-button
          color="primary"
          type="button"
          (click)="saveComment()"
  >
    <mat-icon aria-hidden="false">check</mat-icon>
  </button>
</div>

