table {
  width: 100%;
}

.btn {
  margin: 0 auto;
}

.questions_container {
  margin: 20px auto;
}

.question {
  margin-bottom: 10px;
}

.question_table {
  padding: 20px;
}

.q_text {
  font-size: 18px;
}
