<div class="questions_container" *ngIf="questions">
  <mat-card>
    <mat-card-title>
      Тестування по предмету:
    </mat-card-title>
    <p *ngIf="questions && questions.length">Оцінювання: <br> За одну правильну відповідь , ви отримуєте <span class="font-weight-bold">10</span>
      балів, за одну помилку, в вас забирають <span class="font-weight-bold">5</span> балів</p>
    <p *ngIf="questions && questions.length">Максимально можливий бал за цей тест, становить: <span class="text-danger">{{maxMark}}</span></p>

    <mat-card-content>
      <form [formGroup]="questionForm"
            (ngSubmit)="formTest()"
            (keydown.enter)="$event.preventDefault()">
        <table>

          <tbody *ngIf="questions && questions.length" class="question_table" formArrayName="question_list">
          <mat-card class="question" *ngFor="let item of questions; let i = index;"
            [formGroupName]="i">
            <tr>
              <td class="q_text" >
                <input formControlName="question" [value]="item._id" type="hidden">
            <span>
                {{i + 1}}.
             </span>
                <span>
              {{item.question}}
            </span>
              </td>
            </tr>
            <ng-container formArrayName="answer">
              <tr *ngFor="let a of item.answers; let j = index"
                  [formGroupName]="j">
                <td>
                    <mat-checkbox formControlName="checked">
               <span>
                  {{a.value}}
               </span>
                    </mat-checkbox>
                </td>
              </tr>
            </ng-container>
          </mat-card>
          </tbody>
        </table>


        <div *ngIf="questions && !questions.length">
          <p class="text-center text-danger">Питання ще не добавлені</p>
        </div>

        <mat-card-actions *ngIf="questions && questions.length" class="btn">
          <button mat-raised-button color="primary" type="submit">Перевірити</button>
        </mat-card-actions>

      </form>
    </mat-card-content>
  </mat-card>
</div>

<app-main-loader *ngIf="!questions || statusCheck"></app-main-loader>
