<section class="footer">

  <div class="inner">
    &copy; 2020
  </div>

  <div class="social">
    <a href="https://www.facebook.com/">
      <img class="icon" src="../../../../assets/images/facebook.png" alt="facebook">
    </a>

    <a href="https://www.instagram.com/">
      <img class="icon" src="../../../../assets/images/insta.png" alt="instagram">
    </a>

    <a href="https://twitter.com/">
      <img class="icon" src="../../../../assets/images/twit.png" alt="twitter">
    </a>
  </div>

</section>
