<div class="form-container">
  <h2 class="pageTitle">
    Додайте, будь ласка, своє питання
  </h2>
  <form
    [formGroup]="questionForm"
    (ngSubmit)="addQuestion()"
    (keydown.enter)="$event.preventDefault()">
    <div class="form">

      <mat-form-field>
        <mat-label>Виберіть предмет</mat-label>
        <input type="text" matInput formControlName="subject" [matAutocomplete]="autoSubject"
               (input)="filterSubjects()">
        <mat-autocomplete #autoSubject="matAutocomplete">
          <mat-option *ngFor="let subject of filteredSubject" [value]="subject">
            {{subject}}
          </mat-option>
        </mat-autocomplete>

        <mat-error *ngIf="questionForm.get('subject').hasError('required')">
          Виберіть, будь ласка, предмет
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Виберіть курс</mat-label>
        <input type="text" matInput formControlName="group" [matAutocomplete]="autoGroup" (input)="filterGroups()">
        <mat-autocomplete #autoGroup="matAutocomplete">
          <mat-option *ngFor="let group of filteredGroups" [value]="group">
            {{group}}
          </mat-option>
        </mat-autocomplete>

        <mat-error *ngIf="questionForm.get('group').hasError('required')">
          Виберіть, будь ласка, курс
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Виберіть складність</mat-label>
        <mat-select formControlName="level">
          <mat-option *ngFor="let level of levels"
                      [value]="level.level">
            {{level.level}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="questionForm.get('level').hasError('required')">
          Виберіть, будь ласка, складність
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">

        <input matInput placeholder="Сформулюйте питтаня"
               formControlName="question" #message>
        <mat-error *ngIf="questionForm.get('question').hasError('required')">
          Це поле не може бути пустим
        </mat-error>
      </mat-form-field>
    </div>

    <div formArrayName="answers">
      <div *ngFor="let answer of questionForm.get('answers').controls; let i = index">
        <div [formGroupName]="i"
             class="d-flex align-items-end">
          <mat-checkbox class="checkbox"
                        value="false"
                        formControlName="correct">
          </mat-checkbox>
          <mat-form-field class="example-full-width">
            <input matInput value=""
                   (keyup.enter)="addAnswer()"
                   formControlName="value"
                   placeholder="Відповідь {{i + 1}}">

          </mat-form-field>
          <button mat-mini-fab color="primary"
                  (click)="removeAnswer(answer)"
                  type="button"
          >
            &times;
          </button>
        </div>
      </div>
      <button mat-raised-button
              color="primary"
              type="button"
              (click)="addAnswer()">
        Додати відповідь
      </button>
    </div>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Вкажіть теги для питання"
             formGroupName="tags"
             (keyup.enter)="newTag($event)">
      <mat-error *ngIf="questionForm.get('tags').hasError('required')">
        Це поле не може бути пустим
      </mat-error>
    </mat-form-field>

    <div class="tags">
        <span *ngFor="let tag of tags"
              class="tag">
          {{tag}}
        </span>
    </div>

    <button mat-raised-button
            color="primary"
            type="submit"
            [disabled]="questionForm.invalid || !tags.length"
    >Надіслати
    </button>

    <h3 *ngIf="isAdded" class="question-added"> Додано успішно! </h3>
  </form>
</div>
