<mat-sidenav-container class="example-container">
  <mat-sidenav-content>

    <div *ngIf="groupsList.length && !isShowGroup"
         class="group-layout">

      <h2>Групи</h2>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let group of groupsList">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{group.label}}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="group-inner">

            <p>Місто: {{group.city}}</p>
            <p>Розпочата: {{group.started_at | date}}</p>
            <p>Планове закінчення: {{group.finished_at | date}}</p>
          </div>

          <mat-action-row>

            <button *ngIf="!btnStatus" mat-button
                    color="primary"
                    type="button"
                    (click)="openAttendance('/groups/my/'+group._id)">
              Журнал відвідувань
            </button>

            <button *ngIf="btnStatus" mat-button
                    color="primary"
                    type="button"
                    (click)="openAttendance('/groups/my')">
              Назад
            </button>
          </mat-action-row>

        </mat-expansion-panel>
      </mat-accordion>

    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

  <p *ngIf="!groupsList.length" class="text-center text-red m-auto"> Групи ще не добавили</p>
</mat-sidenav-container>

