<div *ngIf="data; else loader">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let user of data.users">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{user.surname}} {{user.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-toolbar class="tools">
        <span *ngIf="user.status_id === isBlocked">{{getNameOfRole(user.role_id)}}</span>
        <span class="role_name" (click)="openEditForm(user)"
              *ngIf="user.status_id !== isBlocked">{{getNameOfRole(user.role_id)}}</span>
        <div class="blockAndDelete">
          <button mat-raised-button color="warn" [hidden]="user.status_id === isBlocked" (click)="blockUser(user)">
            Заблокувати
          </button>
          <button mat-raised-button color="primary" [hidden]="user.status_id !== isBlocked" (click)="unBlockUser(user)">
            Розблокувати
          </button>

          <button class="mx-2" mat-raised-button color="warn" *ngIf="user.booking_ban_status &&
            user.booking_ban_status.status !== isBookingBlocked"
                  (click)="blockBookingUser(user)">
            Заблокувати можливіть бронювання
          </button>

          <button class="mx-2" mat-raised-button color="primary" *ngIf="user.booking_ban_status &&
          user.booking_ban_status.status === isBookingBlocked"
                  (click)="unBlockBookingUser(user)">
            Розблокувати можливіть бронювання
          </button>

          <button mat-icon-button class="icon" (click)="updateProfile(user)" [hidden]="user.status_id === isBlocked">
            <mat-icon color="primary">edit</mat-icon>
          </button>
          <button mat-icon-button class="icon" [hidden]="user.status_id !== isBlocked" disabled>
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button class="icon" (click)="showActivityStudent(user._id)"
                  [hidden]="user.status_id === isBlocked">
            <mat-icon color="primary">grading</mat-icon>
          </button>
          <button mat-icon-button class="icon" (click)="delete(user)">
            <mat-icon color="primary">delete</mat-icon>
          </button>
        </div>
      </mat-toolbar>
      <div class="panel m-1">
        <div class="photo">
          <img src="{{user.photo_path}}" alt="">
        </div>
        <div class="cards">
          <mat-card>
            Населений пункт: {{user.population_point}}
          </mat-card>
          <mat-card>
            Email: {{user.email}}
          </mat-card>
          <mat-card>
            Номер телефону: {{user.phone_number ? user.phone_number : null}}
          </mat-card>
          <mat-card>
            <span> Групи: </span>
            <span
              *ngFor="let group of user.groups_id">[{{user.groups_id.length > 0 ? group.label : null}}]
            </span>
          </mat-card>
          <mat-card>
            Зареєстрований: {{user.created_at | date:'dd-MM-yyyy'}}
          </mat-card>
          <mat-card *ngIf="user.updated_at">
            Редагований: {{user.updated_at | date:'dd-MM-yyyy'}}
          </mat-card>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
