<mat-card class="main">
  <mat-card-title>Редагування</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form">
      <div fxLayout="column">
        <mat-form-field appearance="standard">
          <mat-label>Прізвище</mat-label>
          <input matInput type="text" required formControlName="surname">
          <mat-error *ngIf="form.get('surname').invalid" align="end">Прізвище введено не коректно</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>Ім'я</mat-label>
          <input matInput type="text" required formControlName="name">
          <mat-error *ngIf="form.get('name').invalid" align="end">Ім'я введено не коректно</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>Email</mat-label>
          <input matInput type="email" required formControlName="email">
          <mat-error *ngIf="form.get('email').invalid" align="end">Email введено не коректно</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>Телефон</mat-label>
          <span matPrefix>+38 &nbsp;</span>
          <input matInput type="text" formControlName="phone_number">
          <mat-error *ngIf="form.get('phone_number').invalid" align="end">Телефон введено не коректно</mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary" type="submit" (click)="update()" [disabled]="form.invalid">Зберегти
    </button>
  </mat-card-actions>
</mat-card>
