<div *ngIf="adminInfo">
  <mat-toolbar color="primary" class="nav">
    <div><a mat-button (click)="router.navigate(['/admin/adminPanel'])"><h1>Адмінка</h1></a></div>
    <div class="email">
      <button mat-button [matMenuTriggerFor]="menu">{{adminInfo.email}}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="updateProfile(adminInfo)">Редагувати</button>
      </mat-menu>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="example-container">
    <mat-sidenav class="sidenav" mode="side" opened>
      <div class="buttons">
        <div>
          <a mat-raised-button color="primary" *ngFor="let link of links" [routerLink]="link.url"
             routerLinkActive="active">{{link.name}}</a>
        </div>
        <div class="bottom">
          <a mat-raised-button color="primary"  (click)="logout()"
             routerLinkActive="active">Вихід</a>

        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
