<mat-card *ngIf="questions">
  <button mat-raised-button
          color="primary"
          type="button"
          [routerLink]="['/questions/add_questions']"
  >Додати питання
  </button>

  <div *ngFor="let question of questions" class="mt-3">
    <span class="my-1"> <span class="text-secondary">Питання:</span> {{question.question}} <br></span>
    <span class="my-1"> <span class="text-secondary">Предмет: </span>{{question.subject}} <br></span>
    <span class="my-1"> <span class="text-secondary">Групи:</span> {{question.group}} <br></span>
    <span class="my-1"> <span class="text-secondary">Опис:</span> {{question.description}} <br></span>
    <span class="my-1"> <span class="text-secondary">Теги:</span> {{question.tags}} <br></span>
    <span class="my-1"> Відповіді:</span>

    <div *ngFor="let answer of question.answers; let i = index">
      {{i + 1}}) {{answer.value}}
      <span *ngIf="answer.correct" class="correct">&#10004;</span>
      <span *ngIf="!answer.correct" class="incorrect">&#10060;</span>
    </div>
    <button mat-raised-button
            color="primary"
            type="button"
            (click)="deleteQuestion(question._id)"
            class="ml-2"
    >Видалити питання
    </button>
    <button mat-raised-button
            color="primary"
            type="button"
            class="m-2"
            (click)="editQuestion(question._id)"
    >
      <span>Редагувати питання</span>
    </button>

    <hr>
  </div>

  <div *ngIf="!questions.length">
    У вас ще немає свторених питань.
    <br>
    Створіть своє перше питання тут
    <br>
    <button mat-raised-button
            color="primary"
            type="button"
            (click)="router.navigate(['/questions/add_questions'])"
    >Створити питання
    </button>
  </div>
</mat-card>

<app-main-loader *ngIf="!questions"></app-main-loader>
