<h2 mat-dialog-title class="mat_dialog_title">Створити урок</h2>

<mat-dialog-content class="mat-typography">

  <form [formGroup]="lessonForm"
        (ngSubmit)="addLesson()"
        (keydown.enter)="$event.preventDefault()"
  >
    <div class="form">

      <mat-form-field class="example-full-width">
        <mat-label>Номер уроку</mat-label>
        <input type="text" matInput
               formControlName="number"
               required>

        <mat-error *ngIf="lessonForm.get('number').hasError('required')">
          Вкажіть номер уроку
        </mat-error>
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <mat-label>Назва уроку</mat-label>
        <input type="text" matInput
               formControlName="label"
               required>

        <mat-error *ngIf="lessonForm.get('label').hasError('required')">
          Вкажіть назву уроку
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Опис уроку</mat-label>
        <textarea type="text" matInput formControlName="description"></textarea>
        <mat-error *ngIf="lessonForm.get('description').hasError('required')">
          Додайте опис уроку
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput required
               placeholder="Вкажіть теги "
               formGroupName="tags"
               (keyup.enter)="newTag($event)"
               [matAutocomplete]="autoTag"
               #searchTags
        >
        <mat-autocomplete #autoTag="matAutocomplete">
          <mat-option *ngFor="let tag of tagsForAutocomplete | filter:
           searchTags.value"
                      [value]="tag">
            {{tag}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <div class="blocks">
        <div *ngFor="let tag of tags"
             class="block">
          {{tag}}
          <button class="mini_btn"
                  type="button"
                  (click)="delTag(tag)">
            &times;
          </button>
        </div>

      </div>

      <div *ngIf="!spinnerStatus">
        <label for="file-upload" class="custom-file-upload">
          Додати відео
        </label>
        <input class="disable" id="file-upload" type="file" (change)="fileChange($event)"/>
      </div>
      <app-main-loader *ngIf="spinnerStatus"></app-main-loader>
    </div>

    <button *ngIf="!spinnerStatus"
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="lessonForm.invalid || !tags.length "
    >Створити
    </button>

  </form>
</mat-dialog-content>
