<mat-sidenav-container class="example-container">
  <mat-sidenav-content>
    <div *ngIf="roomsList"
         class="lesson-layout">

      <form [formGroup]="filterRoomForm"
            (ngSubmit)="showFiltered()"
            (keydown.enter)="$event.preventDefault()"
            class="d-flex flex-wrap justify-content-around mb-3">

        <mat-form-field>

          <input type="text"
                 placeholder="Назва кімнати"
                 matInput
                 formControlName="label"
                 [matAutocomplete]="autoRoom"
                 #searchRoom
          >
          <mat-autocomplete autoActiveFirstOption
                            #autoRoom="matAutocomplete">
            <mat-option *ngFor="let room of roomsForAutocomplete " [value]="room">
              {{room}}
            </mat-option>
          </mat-autocomplete>

        </mat-form-field>

        <div class="d-flex flex-wrap justify-content-center">
          <button type="submit"
                  color="primary"
                  class="m-2"
                  mat-raised-button
          >
            Шукати
          </button>

          <button mat-raised-button
                  color="primary"
                  type="button"
                  class="m-2"
                  *ngIf="isTeacher && !isMyRoom && !isFiltered"
                  (click)="myRooms()"
          >Мої кімнати
          </button>

          <button mat-raised-button
                  color="primary"
                  type="button"
                  class="m-2"
                  *ngIf="isTeacher && isMyRoom || isFiltered"
                  (click)="getRooms()"
          >Всі кімнати
          </button>

          <button *ngIf="isTeacher"
                  mat-raised-button
                  color="primary"
                  type="button"
                  class="m-2"
                  (click)="openForm()"
          >Додати кімнату
          </button>
        </div>

      </form>

      <mat-accordion>
        <mat-expansion-panel *ngFor="let room of roomsList">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Кімната -{{room.label}}.
              <p>Місто: {{room.city}}</p>
              <p>Розпочаток: {{room.start_at | date}}</p>
              <p>Закінчення: {{room.close_at | date}}</p>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-action-row>
            <button mat-button
                    color="primary"
                    type="button"
                    *ngIf="isMyRoom"
                    (click)="editRoom(room._id)">
              Редагувати
            </button>

            <button mat-button
                    color="primary"
                    type="button"
                    *ngIf="isMyRoom"
                    (click)="deleteRoom(room._id)">
              Удалити
            </button>

            <button mat-button
                    color="primary"
                    type="button"
                    (click)="showRoom(room._id)">
              Почати
            </button>
          </mat-action-row>

        </mat-expansion-panel>
      </mat-accordion>

    </div>

    <app-main-loader *ngIf="!roomsList"></app-main-loader>
  </mat-sidenav-content>

</mat-sidenav-container>



