<h2 mat-dialog-title class="mat_dialog_title">Зареєструватися</h2>
<mat-dialog-content class="mat-typography">

  <form [formGroup]="registrationForm"
        (ngSubmit)="newUser()"
  >

    <div class="example-full-width">
      <mat-icon aria-hidden="false" class="icon">person_outline</mat-icon>
      <mat-form-field>
        <input type="text" matInput
               placeholder="Введіть Ваше ім'я"
               formControlName="name"
               required
        >
        <mat-error *ngIf="registrationForm.get('name').hasError('required')">
          Введіть, будь ласка, ім'я
        </mat-error>
        <mat-error *ngIf="registrationForm.get('name').hasError('pattern')">
          Ім'я введено некоректно
        </mat-error>
      </mat-form-field>
    </div>


    <div class="example-full-width">
      <mat-icon aria-hidden="false" class="icon">person</mat-icon>
      <mat-form-field>
        <input type="text" matInput
               placeholder="Введіть Ваше прізвище"
               formControlName="surname"
               required
        >
        <mat-error *ngIf="registrationForm.get('surname').hasError('required')">
          Введіть, будь ласка, прізвище
        </mat-error>
        <mat-error *ngIf="registrationForm.get('surname').hasError('pattern')">
          Прізвище введено некоректно
        </mat-error>
      </mat-form-field>
    </div>


    <div class="example-full-width">
      <mat-icon aria-hidden="false" class="icon">email</mat-icon>
      <mat-form-field>
        <input type="email" matInput
               placeholder="Введіть Ваш email"
               formControlName="email"
               required
        >
        <mat-error *ngIf="registrationForm.get('email').hasError('required')">
          Введіть, будь ласка, email
        </mat-error>
        <mat-error *ngIf="registrationForm.get('email').hasError('email')">
          Email введено некоректно
        </mat-error>
      </mat-form-field>
    </div>

    <div class="example-full-width">
      <mat-icon aria-hidden="false" class="icon">location_city</mat-icon>
      <mat-form-field>
        <input type="text" matInput
               placeholder="Введіть Ваш населений пункт"
               formControlName="population_point"
               required
        >
        <mat-error *ngIf="registrationForm.get('population_point').hasError('required')">
          Введіть, будь ласка, ваш населений пункт
        </mat-error>
        <mat-error *ngIf="registrationForm.get('population_point').hasError('pattern')">
          Населений пункт введено некоректно
        </mat-error>
      </mat-form-field>
    </div>


    <div class="example-full-width">
      <mat-icon aria-hidden="false" class="icon">phone_android</mat-icon>
      <mat-form-field>
        <span matPrefix>+38 &nbsp;</span>
        <input matInput type="text"
               formControlName="phone_number">
        <mat-error *ngIf="registrationForm.get('phone_number').hasError('pattern')">
          Номер телефону введено некоректно
        </mat-error>
      </mat-form-field>
    </div>


    <div class="example-full-width pass">
      <mat-icon aria-hidden="false" class="icon">
        vpn_key
      </mat-icon>
      <mat-form-field>
        <input matInput
               [type]="hide ? 'password' : 'text'"
               placeholder="Пароль"
               formControlName="password"
               required
        >
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>
            {{hide ? 'visibility_off' : 'visibility'}}
          </mat-icon>
        </button>
        <mat-error
          *ngIf="registrationForm.get('password').hasError('required')"
        >
          Введіть, будь ласка, пароль
        </mat-error>
        <mat-error
          *ngIf="registrationForm.get('password').hasError('minlength')"
        >
          Пароль має містити щонайменше 8 символів
        </mat-error>
        <mat-error
          *ngIf="registrationForm.get('password').hasError('pattern')"
        >
          Пароль має складатися з малих літер, великих літер, цифр та спеціальних символів
        </mat-error>
      </mat-form-field>
    </div>


    <div class="example-full-width">
      <mat-icon aria-hidden="false" class="icon">
        vpn_key
      </mat-icon>
      <mat-form-field>
        <input
          matInput
          placeholder="Підтвердження паролю"
          [type]="hide2 ? 'password' : 'text'"
          formControlName="confirmPassword"
          required>
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hide2 = !hide2"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide2"
        >
          <mat-icon>
            {{hide2 ? 'visibility_off' : 'visibility'}}
          </mat-icon>
        </button>
        <mat-error
          *ngIf="registrationForm.get('confirmPassword').hasError('required')"
        >
          Введіть пароль ще раз для підтвердження
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <label for="file-upload" class="custom-file-upload">
        Додати фото
      </label>
      <input class="disable" id="file-upload" type="file" (change)="fileChange($event)"/>
    </div>

    <button mat-raised-button
            color="primary"
            type="submit">
      Прийняти
    </button>

  </form>

</mat-dialog-content>

<app-main-loader *ngIf="statusRequest"></app-main-loader>
