<div class="bg-secondary">
  <div class="text-center text-justify m-2 p-2 bg-white">
    <span class="text-center text-warning">WARNING!!!</span><br>
    <span>
      Для бронювання місця, виберіть стіл та перейдіть на нього. <br>
      Підтверджувати чи відмінити - можна в розділі <span class="text-danger">"Мої бронювання".</span><br>

      Якщо ви забронювали місце, та не прийшли, або відмінили його, вам дають <span
      class="text-danger">попередження</span>. <br>
      Їх можна отримати <span
      class="text-danger">3</span>, на <span class="text-danger">4</span> раз вам заблокують можливість бронювання на
      <span class="text-danger">14 днів.</span>
    </span>
  </div>
</div>
