<h2 mat-dialog-title class="mat_dialog_title">Редагувати профіль</h2>
<mat-dialog-content class="mat-typography">

  <form [formGroup]="editForm"
        (ngSubmit)="editUser()"
  >


    <div class="example-full-width">
      <mat-icon aria-hidden="false" class="icon">email</mat-icon>
      <mat-form-field>
        <input type="email" matInput
               placeholder="Новий email"
               formControlName="email"
        >

        <mat-error *ngIf="editForm.get('email').hasError('email')">
          Email введено некоректно
        </mat-error>
      </mat-form-field>
    </div>


    <div class="example-full-width">
      <mat-icon aria-hidden="false" class="icon">phone_android</mat-icon>
      <mat-form-field>
        <span matPrefix>+38 &nbsp;</span>
        <input matInput type="text"
               formControlName="phone_number">
        <mat-error *ngIf="editForm.get('phone_number').hasError('pattern')">
          Номер телефону введено некоректно
        </mat-error>
      </mat-form-field>
    </div>


    <div class="example-full-width" style="margin: 5px 0 20px">
      <p>
      <mat-icon aria-hidden="false" class="icon">photo</mat-icon>
        Оновити фото:
      </p>
      <input type="file"
             (change)="fileChange($event)"
      >
    </div>


    <button mat-raised-button
            color="primary"
            type="submit">
      Прийняти
    </button>

  </form>

</mat-dialog-content>
