<h2 mat-dialog-title class="mat_dialog_title text-center">Редагувати профіль</h2>
<mat-dialog-content class="mat-typography">

  <form [formGroup]="editForm"
        (ngSubmit)="editUser()"
  >

    <div class="example-full-width">
      <mat-icon aria-hidden="false" class="icon">person_outline</mat-icon>
      <mat-form-field>
        <input type="text" matInput
               placeholder="Введіть Ваше ім'я"
               formControlName="name"
               required
        >
        <mat-error *ngIf="editForm.get('name').hasError('required')">
          Введіть, будь ласка, ім'я
        </mat-error>
        <mat-error *ngIf="editForm.get('name').hasError('pattern')">
          Ім'я введено некоректно
        </mat-error>
      </mat-form-field>
    </div>

    <div class="example-full-width">
      <mat-icon aria-hidden="false" class="icon">person_outline</mat-icon>
      <mat-form-field>
        <input type="text" matInput
               placeholder="Введіть Ваше ім'я"
               formControlName="surname"
               required
        >
        <mat-error *ngIf="editForm.get('surname').hasError('required')">
          Введіть, будь ласка, прізвище
        </mat-error>
        <mat-error *ngIf="editForm.get('surname').hasError('pattern')">
          Прізвище введено некоректно
        </mat-error>
      </mat-form-field>
    </div>

    <div class="example-full-width">
      <mat-icon aria-hidden="false" class="icon">location_city</mat-icon>
      <mat-form-field>
        <input type="text" matInput
               placeholder="Введіть Ваш населений пункт"
               formControlName="population_point"
               required
        >
        <mat-error *ngIf="editForm.get('population_point').hasError('required')">
          Введіть, будь ласка, ваш населений пункт
        </mat-error>
        <mat-error *ngIf="editForm.get('population_point').hasError('pattern')">
          Населений пункт введено некоректно
        </mat-error>
      </mat-form-field>
    </div>


    <div class="example-full-width">
      <mat-icon aria-hidden="false" class="icon">phone_android</mat-icon>
      <mat-form-field>
        <span matPrefix>+38 &nbsp;</span>
        <input matInput type="text"
               formControlName="phone_number">
        <mat-error *ngIf="editForm.get('phone_number').hasError('pattern')">
          Номер телефону введено некоректно
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <label for="file-upload" class="custom-file-upload">
        Оновити фото
      </label>
      <input class="disable" id="file-upload" type="file" (change)="fileChange($event)"/>
    </div>

    <button mat-raised-button
            color="primary"
            type="submit">
      Прийняти
    </button>

  </form>

</mat-dialog-content>
