.icon {
  margin: auto 10px auto 0;
}

mat-form-field {
  width: 90%;
}

.example-full-width {
  width: 100%;
  padding-bottom: 10px;
}

.form-field {
  width: inherit;
}

.mat-typography {
  font-size: 16px;
  width: 700px;
}

.pass {
  padding-bottom: 20px;
}

form {
  padding: 10px;
}
