<h2 mat-dialog-title class="mat_dialog_title mx-3">Зміна паролю</h2>
<mat-dialog-content class="mat-typography">

  <form [formGroup]="resetForm"
        (ngSubmit)="resetPassword()"
  >
    <div class="example-full-width pass">
      <mat-icon aria-hidden="false" class="icon">
        vpn_key
      </mat-icon>
      <mat-form-field>
        <input matInput
               [type]="hide ? 'password' : 'text'"
               placeholder="Пароль"
               formControlName="password"
               required
        >
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>
            {{hide ? 'visibility_off' : 'visibility'}}
          </mat-icon>
        </button>
        <mat-error
          *ngIf="resetForm.get('password').hasError('required')"
        >
          Введіть, будь ласка, пароль
        </mat-error>
        <mat-error
          *ngIf="resetForm.get('password').hasError('minlength')"
        >
          Пароль має містити щонайменше 8 символів
        </mat-error>
        <mat-error
          *ngIf="resetForm.get('password').hasError('pattern')"
        >
          Пароль має складатися з малих літер, великих літер, цифр та спеціальних символів
        </mat-error>
      </mat-form-field>
    </div>


    <div class="example-full-width">
      <mat-icon aria-hidden="false" class="icon">
        vpn_key
      </mat-icon>
      <mat-form-field>
        <input
          matInput
          placeholder="Підтвердження паролю"
          [type]="hide2 ? 'password' : 'text'"
          formControlName="confirmPassword"
          required>
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hide2 = !hide2"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide2"
        >
          <mat-icon>
            {{hide2 ? 'visibility_off' : 'visibility'}}
          </mat-icon>
        </button>
        <mat-error
          *ngIf="resetForm.get('confirmPassword').hasError('required')"
        >
          Введіть пароль ще раз для підтвердження
        </mat-error>
      </mat-form-field>
    </div>

    <button mat-raised-button
            color="primary"
            type="submit"
            [disabled]="resetForm.invalid">
      Прийняти
    </button>

  </form>

</mat-dialog-content>
